.card {
  @include abstract-card();
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;

  @include mq(lg) {
    flex: 1 0 0%;
  }
}

.card-header,
.card-body {
  padding: $sp-2 $sp-4;

  p {
    margin-bottom: $sp-2;
  }
}

.card-body {
  flex: 1 1 auto;
}
