@mixin abstract-card() {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 4px 14px rgba(0, 0, 0, 0.05);
  margin: $sp-4 (-$gutter-spacing-sm);

  @include mq(md) {
    border-radius: $border-radius;
    margin: $sp-4 0;
  }
}

%card {
  @include abstract-card();
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: $sp-2 $sp-4 0;
  position: relative;
  word-wrap: break-word;

  >:first-child {
    border-top: none !important;
  }

  >:last-child {
    border-bottom: none !important;
  }

  p {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}

%card-meta {
  border-radius: $border-radius;
  padding-bottom: 0;
  user-select: none;
}
