@mixin abstract-card() {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 4px 14px rgba(0, 0, 0, 0.05);
  margin-left: -$gutter-spacing-sm;
  margin-right: -$gutter-spacing-sm;
  margin-bottom: $sp-4;

  @include mq(md) {
    border-radius: $border-radius;
    margin-left: 0;
    margin-right: 0;
  }
}

@mixin tight-headers() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: $sp-2 0;
  }
}

@mixin module-label() {
  margin-left: 0;
  padding-bottom: 0;
}
