@mixin abstract-card() {
  box-shadow: $box-shadow;
  margin-left: -$gutter-spacing-sm;
  margin-right: -$gutter-spacing-sm;
  margin-bottom: $sp-4;

  @include mq(md) {
    border-radius: $border-radius;
    margin-left: 0;
    margin-right: 0;
  }

  >*:last-child {
    margin-bottom: 0;
  }
}

@mixin tight-headers() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: $sp-2 0;
  }
}
