.module {
  @extend %card;

  .module-days {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin: 0;

    @include mq(lg) {
      grid-template-columns: 1fr 7fr;
    }


    .module-day,
    .module-event {
      margin: 0;
      padding: $sp-2;

      @include mq(sm) {
        padding: $sp-2 $sp-4;
      }

      p {
        display: inline-block;
        margin: 0;
        width: 100%;

        @include mq(sm) {
          width: 62.5%;
        }

        +p {
          width: auto;
        }
      }
    }

    .module-day {
      border-top: $border $border-color;
      font-weight: normal;
      grid-column-start: 1;
      text-align: right;

      +.module-event {
        border-top: $border $border-color;
      }

      &::after {
        content: ":";
      }
    }

    .module-event {
      font-weight: 500;
      grid-column-start: 2;

      +.module-event {
        padding-top: 0;
      }
    }

    .label {
      @extend %card-meta;
      margin-left: 0;

      &.label-hw-out {
        @extend .label-yellow;
      }

      &.label-hw-due {
        @extend .label-red;
      }

      &.label-section {
        @extend .label-purple;
      }
    }
  }
}

.module-meta {
  @extend %card-meta, .text-grey-dk-100, .bg-grey-lt-200;
}

.module-header {
  @extend %card-header;
}

.module-body {
  @extend %card-body;
}
