.module {
  @extend .card;
}

.module-date {
  @extend .card-header;
}

.module-header {
  @extend .card-header;
}

.module-body {
  @extend .card-body;
}

.module-deck {
  @extend .card-deck;
  border-bottom: $border $border-color;
  border-top: $border $border-color;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  p {
    @extend .fs-3;
    display: inline;
  }

  .module {
    .module-header {
      @extend .fw-500;
    }

    &:last-child {
      border-bottom: none;
    }

    @include mq(sm) {
      flex-direction: row;

      .module-date,
      .module-body {
        flex: 0 0 20%;
      }

      .module-header {
        flex: 1;
      }
    }
  }
}
