.btn-discord {
  .icon {
    width: 25px;
    height: 19px;
    margin-right: 15px;
    
    svg {
      fill: white;
    }
  }
  
  a {
    color: white;
    font-weight: bold;
    border-radius: $border-radius;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #7289da;
    text-decoration: none;
    
    &:hover {
      background-color: #6a7fc9;
    }
  }
}

:root {
  --fc-button-bg-color: #7289da;
  --fc-button-border-color: #7289da;
  --fc-button-hover-bg-color: #453ca8;
  --fc-button-hover-border-color: #453ca8;
  --fc-button-active-bg-color: #453ca8;
  --fc-button-active-border-color: #453ca8;
  --fc-border-color: #ddd;
  --fc-today-bg-color: #e2e8ff;
}

.fc-col-header {
  border-bottom: 1px solid var(--fc-border-color);
}

#calendar table, #calendar th, #calendar .fc-scrollgrid-section>td {
  border: none;
}

#calendar .fc-scrollgrid-sync-table {
  border: 1px solid var(--fc-border-color) !important;
}
