.role {
}

.staffer {
  display: flex;
  padding: $sp-4;

  p {
    @extend .staffer-name;
  }
}

.staffer-image {
  border-radius: 50%;
  height: $staffer-image-size;
  margin-right: $sp-4;
}

.staffer-name {
  margin: $sp-1;
}

.staffer-pronouns {
  @extend .label, .text-grey-dk-100, .bg-grey-lt-200;
}

.staffer-meta {
  @extend .text-grey-dk-000;
}
