.staffer {
  display: flex;
  margin: $sp-4;

  .staffer-image-container {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    margin-right: $sp-4;
  }

  .staffer-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  p,
  .staffer-name {
    margin: $sp-1 !important;
  }

  .staffer-pronouns {
    @extend .label, .text-grey-dk-100, .bg-grey-lt-200;
  }

  .staffer-meta {
    @extend .text-grey-dk-000;
  }
}
