// Colors
$link-color: $blue-100;
$sidebar-color: $body-background-color;

// Layout
$gutter-spacing: $sp-6;
$gutter-spacing-sm: $sp-4;
$nav-width: 216px;
$content-width: 784px;
$media-queries: (
  xs: 320px,
  sm: 640px,
  md: 800px,
  lg: 1000px,
  xl: 1200px,
);

// Components
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 4px 14px rgba(0, 0, 0, 0.05);
$module-date-color: $link-color;
$schedule-day-min-width: 9rem;
$staffer-image-size: 80px;
