// Typography
$body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

// Layout
$gutter-spacing: $sp-6;
$gutter-spacing-sm: $sp-4;
$nav-width: 216px;
$nav-width-md: 216px;
$content-width: 784px;

// Components
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 4px 14px rgba(0, 0, 0, 0.05);
$module-date-color: $link-color;
$staffer-image-size: 100px;
