// custom hacky-ish code
// .text-green-000
$green-000: #7a7fe5;  

// custom colors
$i2-purple: #6858ee;
$i2-blue: #6f93cd;
$i2-gold: #d6bfbe;

// $body-background-color: $grey-dk-300;
$sidebar-color: #f5f5ff; //$grey-dk-300;
$border-color: #756bf9; 

// $body-text-color: $grey-lt-300;
// $body-heading-color: $grey-lt-000;
// $nav-child-link-color: $grey-dk-000;
// $search-result-preview-color: $grey-dk-000;


$link-color: #838be0;
$btn-primary-color: #838be0;
// $base-button-color: $grey-dk-250;

// $code-background-color: $grey-dk-250;
// $search-background-color: $grey-dk-250;
// $table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 2%); 
