a abbr[title] {
  border-bottom: none;
}

abbr[title] {
  text-decoration: none;
}

code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

details {
  margin-left: 40px;
  margin-right: 40px;
}

iframe,
summary {
  margin-bottom: 1em;
  max-width: 100%;
}

summary {
  @extend .btn, .btn-outline;
}

.page {
  max-width: $content-width;
  margin: auto;
}

.page-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: 500;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    font-weight: normal;
  }

  .katex {
    font-size: 1.1em;
  }
}
