a abbr[title] {
  border-bottom: none;
}

abbr[title] {
  text-decoration: none;
}

code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

details {
  margin-left: 40px;
  margin-right: 40px;
}

iframe,
summary {
  margin-bottom: 1em;
  max-width: 100%;
}

summary {
  @extend .btn, .btn-outline;
}

.page-content .katex {
  font-size: 1.1em;
}
