<section class="module">
  <h2 class="module-header">{{ page.title }}</h2>
  {% if page.days %}
  <div class="module-deck">
    {% for day in page.days %}
    <div class="module">
      <div class="module-date">{{ day.date | date: '%b %e' }}</div>
      <div class="module-header">
        {{ day.topic | markdownify | remove: '<p>' | remove: '</p>' }}
      </div>
      {% if day.description != nil %}
      <div class="module-body">
        {{ day.description | markdownify }}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% assign content_strip = content | strip %}
  {% if content_strip != "" %}
  <div class="module-body">
    {{ content }}
  </div>
  {% endif %}
</section>
